html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 1280px;
}

.qrstream-header {
  max-width: 1080px;
}

.card-deck .card {
  min-width: 320px;
}

.card-body {
  padding: unset;
}
.card-body img {
  width: 100%;
  height: auto;
}

.missing-frames .card-header {
  padding: 7px 17px;
}